/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Color test palette v1 */
  /* https://coolors.co/6b6054-929487-a1b0ab-c3dac3-d5ecd4 */
  /* color test palette v2 */
  /* Main 5 colors https://coolors.co/user/palettes/6aa117fe40e0b800113f8458 */
  /* Main Text color : Evergreen - #013220 */
  /*  Calendar colors 1 (9 colors) - Vibrant Neon Fusion */
  /* https://coolors.co/palette/33a8c7-52e3e1-a0e426-fdf148-ffab00-f77976-f050ae-d883ff-9336fd */
  /* Calendar colors 2 (10 colors) - Colorful Rainbow Spectrum*/
  /* https://coolors.co/palette/669900-99cc33-ccee66-006699-3399cc-990066-cc3399-ff6600-ff9900-ffcc00 */
  /* Light steel colors - Calendar Holiday */
  /* https://coolors.co/palette/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529 */



  /* Main color palette */
  --pine-teal: #1b4d3e;
  --deep-teal: #507a6b;
  --muted-teal: #86a697;
  --ash-grey: #bbd3c4;
  --honeydew: #f0fff0;
  --evergreen: #013220;

  /* Calendar colors */
  --turquoise-surf: #33a8c7;
  --neon-ice: #52e3e1;
  --slime-lime: #a0e426;
  --banana-cream: #fdf148;
  --orange: #ffab00;
  --grapefruit-pink: #f77976;
  --deep-pink: #f050ae;
  --rose-magic: #d883ff;
  --purple: #9336fd;

  /* Gray scale */
  --bright-snow: #f8f9fa;
  --pale-slate: #adb5bd;
  --carbon-black: #212529;

}

/* semantic color variables for this project */
:root {
  --color-background: var(--honeydew);
  --color-background-contrast: var(--pine-teal);
  --color-text: var(--evergreen);
  --color-text-contrast: var(--honeydew);
  --color-heading: var(--deep-teal);

  --color-curse-1: var(--turquoise-surf);
  --color-curse-2: var(--neon-ice);
  --color-curse-3: var(--slime-lime);
  --color-curse-4: var(--banana-cream);
  --color-curse-5: var(--orange);
  --color-curse-6: var(--grapefruit-pink);
  --color-curse-7: var(--deep-pink);
  --color-curse-8: var(--rose-magic);
  --color-curse-9: var(--purple);
  --color-curse-text: var(--bright-snow);
  --color-curse-text-contrast: var(--carbon-black);

  --section-gap: 160px;

  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2); */
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  /* color: var(--color-text); */
  /* background: var(--color-background); */
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
